.viewDraftContainer{
    background: #aaa;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewDraftContainer .viewDraftTitle{
    font-size: 3rem;
    color: #333;
    text-transform: uppercase;
}

@media screen and (max-width: 880px){
    .viewDraftContainer .viewDraftTitle{
        font-size: 2rem;
        text-align: center;
    }
    
}