.navbarContainer{
    width: 100%;
    box-sizing: border-box;
    padding: 0em 1em;
    background: white;
    box-shadow: 5px 8px 8px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    height: 10vh;
    z-index: 1000;
}

.navbarContainer .navbarWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
}

.navbarContainer .navbarWrapper .logoContainer{
    width: 10%;
}


.navbarContainer .navbarWrapper .navigationContainer{
    width: 55%;
    height: 100%;
}

.navbarContainer .navbarWrapper .navigationContainerLogined{
    width: 70%;
}

.navbarContainer .navbarWrapper .navigationContainer nav{
    width: 100%;
    height: 100%;
}

.navbarContainer .navbarWrapper .navigationContainer nav .menuList{
    width: 100%;
    display: flex;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbarContainer .navbarWrapper .navigationContainer nav .menuList li{
    margin: 0em 1em;
    height: 100%;
}

.navbarContainer .navbarWrapper .navigationContainer nav .menuList .search-button{
    margin-right: auto;
}

.navbarContainer .navbarWrapper .navigationContainer nav .menuList li a, .navbarContainer .navbarWrapper .navigationContainer nav .menuList li button{
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--color-6);
    cursor: pointer;
    height: 95%;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background: white;
}

.navbarContainer .navbarWrapper .navigationContainer nav .menuList li a:hover, .navbarContainer .navbarWrapper .navigationContainer nav .menuList li button:hover{
    color: var(--color-5);
    font-weight: bold;
}

.navbarContainer .navbarWrapper .navigationContainer nav .menuList li a:hover{
    border-bottom: 4px solid var(--color-1);;
}

.navbarContainer .navbarWrapper .navigationContainer nav .menuList li .submenuHelp{
    position: absolute;
    display: none;
    flex-direction: column;
    top: 9vh;
    background: white;
    box-sizing: border-box;
    right: 0;
    width: 200px;
}

.navbarContainer .navbarWrapper .navigationContainer nav .menuList li .submenuHelp:hover{
    display: flex;
}

.navbarContainer .navbarWrapper .navigationContainer nav .menuList li.help-button button:hover + .submenuHelp , .navbarContainer .navbarWrapper .navigationContainer nav .menuList li.help-button button:focus  + .submenuHelp{
    display: flex;
}

.navbarContainer .navbarWrapper .navigationContainer nav .menuList li.help-button{
    position: relative;
}


.navbarContainer .navbarWrapper .navigationContainer nav .menuList li .submenuHelp li a{
    text-align: end;
    font-weight: normal;
    width: 100%;
    display: inline-block;
    padding: 0.3em 0em;
    font-size: 0.8rem;
    color: var(--color-5);
    text-transform: capitalize;
    padding-right: 0.5em;
    box-sizing: border-box;
    padding-bottom: 0.5em;
}

.navbarContainer .navbarWrapper .navigationContainer nav .menuList li .submenuHelp li{
    margin: 0;
}

.navbarContainer .navbarWrapper .navigationContainer nav .menuList li .submenuHelp li a:hover{
    border-right: 4px solid var(--color-1);
    color: var(--color-3);
    font-weight: bold;
    border-bottom: none;
}


.navbarLogin{
    width: 35%;
    box-sizing: border-box;
}

.navbarLoginLogined{
    width: 20%;
}

.navbarContainerMovil{
    display: none;
    width: 100%;
    top: 90vh;
    left: 0;
    position: fixed;
    flex-wrap: wrap;
    transition: all 0.3s;
    z-index: 1000;
}

.navbarContainerMovil .NavbarMovil{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0em 1em;
    height: 10vh;
    background: white;
}

.navbarContainerMovil  .menuListMovil{
    height: 90vh;
    width: 100%;
    background: var(--color-4);
    margin-top: 0;
}


.navbarContainerMovil .NavbarMovil .ToogleNavMovil{
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 100;
}

.navbarContainerMovil .NavbarMovil .ToogleNavMovil div{
    margin-left: 1em;
}

.navbarContainerMovil .NavbarMovil .ToogleNavMovil svg{
    width: 18px;
    transform: rotate(180deg);
}


.navbarContainerMovil .NavbarMovil .LoginNavMovil button{
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8rem;
    margin-left: 1em;
    color: var(--color-4);
    font-family: inherit;
}

.navbarContainerMovil .NavbarMovil .LoginNavMovil{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 1em;
}


.navbarContainerMovil .NavbarMovil .LoginNavMovil a{
    font-size: 0.8rem;
    color: var(--color-6);
    font-weight: bold;
}

.navbarContainerMovil .NavbarMovil .LoginNavMovil a svg{
    width: 15px;
    height: 15px;
    margin-right: 0.5em;
    fill: var(--color-6);
}

.popupLogin{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
}

.popupLogin .formLogin{
    border-radius: 2em;
    width: 80%;
    height: 400px;
    background: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.popupLogin .formLogin .closePopupLogin{
    align-self: flex-end;
    background: transparent;
    border: none;
    cursor: pointer;
}

.popupLogin .formLogin .closePopupLogin svg{
    width: 20px;
    height: 20px;
    fill: black;
    margin: 1.5em;
}

.popupLogin .formLogin .optionsAuthenticationContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.popupLogin .formLogin .optionsAuthenticationContainer button svg{
    width: 20px;
    height: 20px;
    margin-left: 1em;
}

.popupLogin .formLogin .optionsAuthenticationContainer button{
    width: 70%;
    font-family: inherit;
    font-weight: bold;
    border: none;
    margin: auto;
    padding: 1em;
    display: flex;
    justify-content: center;
    border-radius: 2em;
    margin-bottom: 1.5em;
    cursor: pointer;
    box-shadow: 2px 4px 4px rgba(50, 50 ,50, 0.5);

}

.popupLogin .formLogin .optionsAuthenticationContainer button:nth-child(2n), .popupLogin .formLogin .optionsAuthenticationContainer button:nth-child(3n){
    color: white;
}

.popupLogin .formLogin h3{
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
}

.open{
    display: flex;
}

.openNavbarContainerMovil{
    top: 0;
}

.openNavbarContainerMovil .NavbarMovil .ToogleNavMovil svg{
    transform: rotate(360deg);
}

.menuListMovil{
    padding: 0;
    overflow-y: scroll;
}

.menuListMovil::-webkit-scrollbar{
    display: none;
}

.menuListMovil li:nth-child(2n){
    background: #894aee;
}

.menuListMovil li{
    padding: 1em;
}

.menuListMovil li a, .menuListMovil li button{
    color: white;
    font-size: 1.5rem;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menuListMovil li a svg, .menuListMovil li button svg{
    width: 20px;
    height: 20px;
    fill: white;
    transform: rotate(-90deg);
}

.menuListMovil li:hover{
border-right: 4px solid var(--color-1);
}

.menuListMovil li:hover a, .menuListMovil li:hover button{
    color: var(--color-1);

}

.userNavMovil img{
    width: 40px;
    border-radius: 50%;
    margin-left: 1em;
}

.LoginNavMovil .userNavMovil{
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginNavMovil .userNavMovil a svg{
    width: 20px !important;
    height: 20px !important;
    align-self: center;
}

.LoginNavMovil .userNavMovil a{
    align-content: center;
    display: flex;
}

.LoginNavMovil .userNavMovil a:hover, .NavbarMovil .LoginNavMovil a:hover{
    color: var(--color-3);
}

.optionsUserMovil{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding:  0.3em 1em;
    background: #29115B;
}

.optionsUserMovil a svg{
    fill: white;
    width: 20px;
    height: 30px;
}

.optionsUserMovil a:hover svg{
    fill: var(--color-1);
}

.optionsUserMovil span{
    color: white;
}

.buttonLogoutMovil{
    background: transparent;
    border: none;
    color: var(--color-1);
    font-size: 0.9rem;
    font-family: inherit;
    margin-left: auto;
    margin-right: 1em;
    cursor: pointer;
}

.buttonLogoutMovil:hover{
    color: white;
}

.LoginNavMovil .userNavMovil a:hover svg, .ToogleNavMovil:hover svg, .NavbarMovil .LoginNavMovil a:hover svg{
    fill: var(--color-3);
}

 li .active{
    color: var(--color-3) !important;
    font-weight: bold;
    border-bottom: 4px solid var(--color-1) !important;
}

@media screen and (max-width:1150px){
    .navbarContainer .navbarWrapper .navigationContainer nav .menuList li a, .navbarContainer .navbarWrapper .navigationContainer nav .menuList li button{
        font-size: 0.7rem;
    }

    .navbarContainer .navbarWrapper .navigationContainer{
        width: 72%;
    }

    .navbarLogin{
        width: 28%;
    }
}

@media screen and (max-width:1000px){
    .navbarContainer .navbarWrapper .navigationContainer{
        width: 68%;
    }

    .navbarLogin{
        width: 32%;
    }
}

@media screen and (max-width: 880px){
    .navbarContainer{
        display: none;
    }

    .navbarContainerMovil{
        display: flex;
    }

    .popupLogin .formLogin h3{
        font-size: 1.2rem;
        width: 80%;
    }
}

@media screen and (max-width: 600px){

    .popupLogin .formLogin .optionsAuthenticationContainer button{
        width: 80%;
    }

    .popupLogin .formLogin{
        height: 500px;
        width: 90%;

    }
}


@media screen and (max-width: 450px){
    .navbarContainerMovil .NavbarMovil .LoginNavMovil a{
        font-size: 0.7rem;
    }

    .navbarContainerMovil .NavbarMovil .LoginNavMovil a svg{
        width: 14px;
        height: 14px;
    }

    .navbarContainerMovil .NavbarMovil .LoginNavMovil button{
        font-size: 0.7rem;
    }

    
    .navbarContainerMovil .NavbarMovil .ToogleNavMovil svg{
        width: 15px;
        height: 15px;
    }

    .navbarContainerMovil .NavbarMovil .ToogleNavMovil div{
        width: 30px;
        height: 30px;
    }

}