body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none
}

li{
  list-style: none;
}

button{
  outline: none
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

:root{
  --color-1: #FFE32B;
  --color-2: #8BC53F;
  --color-3: #7833E4;
  --color-4: #9A66EB;
  --color-5: #404041;
  --color-6: #6D6E70;
}
